<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <br>
    <h1>To Do </h1>
    <br>
    <hr>
    <br>
    <a href="/studentlar"><h1>Talabalar</h1></a>
    <ul>
        <li><a href='/bitiruvchilar'><p>3-kursdan katta talabalar</p></a></li>
        <li><a href='/yoshi_kattalar'><p>Katta talabalar</p></a></li>
    </ul>
    <hr>
    <a href='/rejalar/'><h1>Rejalar</h1></a>
    <ul>
        <li><a href='/bajarilmagan/'><p>Bajarilmagan rejalar</p></a></li>
        <li><a href='/bitiruvchilar_rejalar/'><p>Bitiruvchilar rejalari</p></a></li>
    </ul>
    <hr>
</body>
</html>


