<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talabalar</title>
</head>
<body>

    <h1>Tizimdagi barcha talabalar ro'yhati</h1>
    <br>
    <hr>
    <ul>
    {%for talaba in studentlar %}
    <li><h3><a href = "/studentlar/{{talaba.id}}">{{ talaba.student_id}}</a>. {{talaba.name }}   <a href="/del_student/{{talaba.id}}"><button>O'chirish</button></a></h3></li>
    {% endfor %}
    </ul>
    <hr>
    <form method="post">{% csrf_token %}
    {{ forma.as_p }}
    <button>Qo'shish</button>
  </form>
</body>
</html>